<!-- kendo ui link  -->
<!-- <link rel="stylesheet" href="https://unpkg.com/@progress/kendo-theme-bootstrap@10.4.0/dist/bootstrap-main.css" /> -->
<!-- kendo ui link  -->



<div class="container-fluid px-5   pt-2 mainContainer">

    <div class="row ">
        <app-home />
        <div class="col-md-12  p-0">
        </div>
        <!-- <div class="row"> -->
        <div class="col-xs-12 col-sm-6 example-col">
            <kendo-label text="ComboBox">
                <br />
                <kendo-combobox [data]="listItems" value="Basketball">
                </kendo-combobox>
            </kendo-label>
        </div>
        <div class="col-md-12 ">
            <kendo-grid [kendoGridBinding]="gridView" kendoGridSelectBy="id" [(selectedKeys)]="mySelection"
                [selectable]="{ mode: 'multiple', drag: true }" [pageSize]="10" [pageable]="true" [sortable]="true"
                [groupable]="false" [reorderable]="true" [resizable]="true" [height]="670"
                [columnMenu]="{ filter: true }">

                <ng-template kendoGridToolbarTemplate>

                    <p class="fw-bolder fs-3 " style="color: yellowgreen;">Lead Management</p>
                    <p style="color: yellowgreen;" class="fw-bolder fs-6 ms-5">Leads</p>
                    <kendo-grid-spacer></kendo-grid-spacer>

                    <kendo-checkbox id="flexCheckDefault" [size]="'large'" class="form-check-input"
                        style="margin-top:20px; ;" label="Board View">
                    </kendo-checkbox>&nbsp;
                    <span class="k-text" style="font-size: 1.0rem;">Board View</span>&nbsp;
                    <button class="exportExel" kendoGridExcelCommand type="button" [svgIcon]="excelSVG">
                        Export to Excel
                    </button>
                    <button class="exportExel" (click)="addEmployee()">
                        Create </button>

                    <!-- <button kendoGridPDFCommand [svgIcon]="pdfSVG">Export to PDF</button> -->
                    <div class="container-fluid px-0 custom-toolbar">
                        <div class="d-flex flex-wrap justify-content-between align-items-center w-100">
                            <!-- Lead Dropdown -->
                            <div class="dropdown lead-dropdown">
                                <button class="btn border dropdown-toggle w-100 btn-md " type="button" id="leadDropdown"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ selectedLead?.full_name || 'All Leads' }}
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="leadDropdown">
                                    <li>
                                        <a class="dropdown-item" href="#" (click)="selectLead(null)">All Leads</a>
                                    </li>
                                    <li *ngFor="let lead of allLeads">
                                        <a class="dropdown-item" href="#" (click)="selectLead(lead)">
                                            {{ lead.full_name }}
                                        </a>
                                    </li>
                                </ul>
                            </div>



                            <!-- Saved Preferences Dropdown -->
                            <div class="dropdown saved-preferences-dropdown">
                                <button class="btn border dropdown-toggle w-100 btn-md ms-3" type="button"
                                    id="savedPreferencesDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ selectedPreference?.text || 'Saved Preferences' }}
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="savedPreferencesDropdown">
                                    <li *ngFor="let preference of savedPreferences">
                                        <a class="dropdown-item" href="#" (click)="onPreferenceSelect(preference)">
                                            {{ preference.text }}
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <!-- Search Box -->
                            <div class="search-box flex-grow-1  ms-5 ">
                                <kendo-textbox [style.width.%]="70" placeholder="Search in all columns..."
                                    (valueChange)="onFilter($event)"></kendo-textbox>
                            </div>
                            <!-- switch button  -->
                            <div class="btn-group toggle-switch px-2 btn-group-sm py-2" role="group"
                                style="height: 45px;">
                                <input type="radio" class="btn-check" name="options" id="nonIntl" autocomplete="off"
                                    checked>
                                <label class="btn btn-outline-success rounded-pill " for="nonIntl">Non-Intl.</label>

                                <input type="radio" class="btn-check" name="options" id="intl" autocomplete="off">
                                <label class="btn btn-outline-success rounded-pill" for="intl">Intl.</label>
                            </div>

                            <!-- Clear Filters Button -->
                            <button class="btn btn-md  colorYellowGreen border-0 px-4 mx-1 ">Clear
                                Filters</button>

                            <!-- Bulk Edit Button -->
                            <button class="btn btn-md  colorYellowGreen border-0 px-4 mx-1 ">Bulk
                                Edit</button>

                            <!-- Save Preference Button -->
                            <button class="btn btn-md  colorYellowGreen border-0 px-4 mx-1 ">Save
                                Preference</button>

                            <!-- Gridlines Button -->
                            <button class="btn btn-md   mx-1 gridlines-btn border">
                                <i class="bi bi-list gridlines"></i>
                            </button>
                        </div>
                    </div>
                </ng-template>

                <!-- --------------------------------- -->
                <kendo-grid-checkbox-column [width]="45" [headerClass]="{ 'text-center': true }" [sticky]="true"
                    [class]="{ 'text-center': true }" [resizable]="true" [columnMenu]="false"
                    [showSelectAll]="true"></kendo-grid-checkbox-column>
                <!-- Action   -->
                <kendo-grid-column title="Actions" [width]="150" [sticky]="true" headerClass="custom-actions-header">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <button class="btn btn-sm btn-outline-primary" (click)="editRow(rowIndex)"
                            *ngIf="!isRowInEditMode(rowIndex)">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-success" (click)="saveRow(rowIndex)"
                            *ngIf="isRowInEditMode(rowIndex)">
                            <i class="bi bi-check2"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-danger ms-2" (click)="cancelEdit()"
                            *ngIf="isRowInEditMode(rowIndex)">
                            <i class="bi bi-x"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-danger ms-2" (click)="deleteEmployee(dataItem)"
                            *ngIf="!isRowInEditMode(rowIndex)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </ng-template>
                </kendo-grid-column>

                <!-- Full Name Column -->
                <kendo-grid-column field="full_name" title="Full Name" [width]="220">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">

                        <span *ngIf="!isRowInEditMode(rowIndex)">{{ dataItem.full_name }}</span>
                        <input *ngIf="isRowInEditMode(rowIndex)" [(ngModel)]="dataItem.full_name"
                            class="form-control" />
                    </ng-template>
                </kendo-grid-column>

                <!-- Job Title Column -->
                <kendo-grid-column field="job_title" title="Job Title" [width]="220">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <span *ngIf="!isRowInEditMode(rowIndex)">{{ dataItem.job_title }}</span>
                        <input *ngIf="isRowInEditMode(rowIndex)" [(ngModel)]="dataItem.job_title"
                            class="form-control" />
                    </ng-template>
                </kendo-grid-column>



                <!-- status  -->
                <kendo-grid-column field="is_online" title="Status" [width]="100" [class]="{ 'text-center': true }"
                    [resizable]="false" filter="boolean" [columnMenu]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        @if (dataItem.is_online === true) {
                        <span class=" text-dark">Online</span>
                        } @if (dataItem.is_online === false) {
                        <span class=" text-dark">Offline</span>
                        }
                    </ng-template>
                </kendo-grid-column>

                <!-- performance  -->
                <!-- rating  -->

                <kendo-grid-column field="rating" title="Rating" [width]="200" [resizable]="false" filter="numeric"
                    [columnMenu]="false">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <!-- Display readonly rating when not in edit mode -->
                        <kendo-rating *ngIf="!isRowInEditMode(rowIndex)" [value]="dataItem.rating" [readonly]="true"
                            precision="half"></kendo-rating>

                        <!-- Editable rating when in edit mode -->
                        <kendo-rating *ngIf="isRowInEditMode(rowIndex)" [(ngModel)]="dataItem.rating"
                            precision="half"></kendo-rating>
                    </ng-template>
                </kendo-grid-column>

                <!-- progress bar  -->
                <kendo-grid-column field="target" title="Engagement" [width]="230" [resizable]="false" filter="numeric"
                    [columnMenu]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <kendo-sparkline type="bar" [data]="dataItem.target" [tooltip]="{ visible: false }"
                            [transitions]="true" [seriesDefaults]="{
                                        labels: { background: 'none', visible: true, format: '{0}%' }
                                    }">
                            <kendo-chart-area [opacity]="0" [width]="200"></kendo-chart-area>
                            <kendo-chart-value-axis>
                                <kendo-chart-value-axis-item [min]="0" [max]="130">
                                </kendo-chart-value-axis-item>
                            </kendo-chart-value-axis>
                        </kendo-sparkline>
                    </ng-template>
                </kendo-grid-column>
                <!-- target Column -->
                <kendo-grid-column field="target" title="Target" [width]="150">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <span *ngIf="!isRowInEditMode(rowIndex)">{{ dataItem.target | currency }}</span>
                        <input *ngIf="isRowInEditMode(rowIndex)" [(ngModel)]="dataItem.target" type="number"
                            class="form-control" />
                    </ng-template>
                </kendo-grid-column>

                <!-- budget  -->
                <kendo-grid-column field="budget" title="Budget" [width]="150" [columnMenu]="false">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <span *ngIf="!isRowInEditMode(rowIndex)">{{ dataItem.budget | currency }}</span>
                        <input *ngIf="isRowInEditMode(rowIndex)" [(ngModel)]="dataItem.budget" type="number"
                            class="form-control" />
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="phone" title="Phone" [width]="150" [columnMenu]="false">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <span *ngIf="!isRowInEditMode(rowIndex)">{{ dataItem.phone }}</span>
                        <input *ngIf="isRowInEditMode(rowIndex)" [(ngModel)]="dataItem.phone" type="number"
                            class="form-control" />
                    </ng-template>
                </kendo-grid-column>
                <!-- address  -->
                <kendo-grid-column field="address" title="Address" [width]="200" [columnMenu]="false">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <span *ngIf="!isRowInEditMode(rowIndex)">{{ dataItem.address }}</span>
                        <input *ngIf="isRowInEditMode(rowIndex)" [(ngModel)]="dataItem.address" type="text"
                            class="form-control" />
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-pdf fileName="Employees.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
                <kendo-grid-excel fileName="Employees.xlsx"></kendo-grid-excel>
            </kendo-grid>
        </div>

    </div>
</div>