ul {
  /* border-bottom: 3px solid yellowgreen; */
}
li {
  background: rgb(5, 5, 53);
  color: white !important;
  border: 3px solid white;
  border-radius: 10px 10px 0px 0px;
}
a {
  color: white !important;
  font-weight: 500;
  padding: 10px;
  padding-bottom: none;
}

li:hover {
  background: yellowgreen;
  color: white !important;
  border: 3px solid white;
  border-radius: 10px 10px 0px 0px;
}

/* .nav-link.active {
  color: #fff !important;
  background-color: #007bff !important;
  border-radius: 5px;
} */
